<div class="items-center flex flex-col max-w-screen-xl mx-auto border-t border-gray-300 pt-5">
    <img class="h-28" src="logo-small.avif" alt="">
    <p class="text-center font-semibold mx-5 mb-5 lg:mx-28">
        A brand that strives to inspire and push creative culture forward.
    </p>
    <p class="text-center mx-5 text-gray-700 lg:mx-28 mb-5">
        We approach our work with the mentality that every product made is a learning experience to improve our craft.
        We are practitioners and purveyors of creative culture and are inspired by its various forms from art, design,
        fashion, music, film, food, and more.</p>
    <div class="flex h-4 gap-x-5 mb-5">
        <img src="fb.png"/>
        <img src="yt.png"/>
        <img src="insta.png"/>
        <img src="tt.png"/>
        <img src="x.png"/>
    </div>
</div>