<footer class="border-t border-gray-300 gap-y-8 lg:mx-56">
    <div class="lg:flex lg:justify-between   mx-5 my-8">
        <div class="flex flex-col items-center text-left">
            <div class="my-2">
                <p class="text-gray-800">Country/region</p>
                <button class="rounded-md border-2 p-3 mb-2">
                    Bangladesh (BDT $)
                </button>
            </div>
        </div>
        <div class="flex gap-x-5 items-center justify-center">
            <img src="visa.png" class="h-8 mb-2" alt="logo">
            <img src="master.png" class="h-8 mb-2" alt="logo">
            <img src="paypal.png" class="h-10 mb-2" alt="logo">
            <img src="gpay.png" class="h-10 mb-2" alt="logo">
            <img src="stripe.png" class="h-10 mb-2" alt="logo">
        </div>
    </div>
    <p class="mx-5 text-gray-800 text-center lg:text-left">
        copyright &copy; 2025 ImpleVista. All rights reserved.
    </p>
</footer>